
footer {
    padding: 10px;
    margin-bottom: 50px;
    height: 100px;
    text-align: center;
}


#linksToSocials{
    text-align: center;
}

.contactIcon {

    width: 30px;
    height: 30px;
}

footer nav a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}