.biography {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.biography img {
    height: 250px;
    border-radius: 50%;
}

.tech-container {
    display: flex;
    justify-content: space-around;
}

.skills-icons {
    text-align: center;
}

.skills-icons img {
    margin-left: 5px;
    margin-right: 5px;
}


.contactInfo-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}