body {
    font-family: "Roboto",sans-serif;
    background-color: #1c1c1d;
    max-width: 930px;
    margin-right: auto;
    margin-left: auto;
    color: #e8e8e8;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 300;
    margin-top: 30px;
}



.border {
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.topnav {
    display: flex;
    justify-content: flex-end;
    margin-right: auto;
    margin-left: auto;
    max-width: 930px;
}

.topnav a {

    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: #e8e8e8;

    /* Remove ugly lines under links */
    text-decoration: none;
}


/* Do not change color when visited */
.topnav a:visited {
    color: #e8e8e8;
}



#goToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px 8px 3px 8px;
    border-radius: 80%;
    font-size: 18px; /* Increase font size */
}
  
#goToTop:hover {
    background-color: #6e6c6c;
}
